<!DOCTYPE html>
<html>
<head>
  <title>Vinyl</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>

  <h1>Vinyl: Sign In</h1>

  <form method="post" action="/sign-in" class="form">
    <pre class="form-errors"></pre>
    <label>
      <span>Email:</span>
      <input type="email" name="email" size="50" minlength="1" required>
    </label>
    <label>
      <span>Password:</span>
      <input type="password" name="password" size="50" minlength="1" required>
    </label>
    <input type="submit" value="Sign in">
  </form>

</body>
</html>
