doomed {
  background-color: pink;
}

html, body {
  margin: 5%;
  padding: 0;
  width: 100vw;
}

normal {
  background-color: default;
}

p.invisible {
  display: none;
}

p.visible {
}

.warning {
  color: red;
  font-weight: bold;
}
