.alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-color: blue;
  border-width: 3px;
  border-radius: 15px;
  padding: 6px;
  background-color: lightblue;
}

.alongside {
  float: right;
  margin-right: 10%;
}

#banner, .main {
  border-style: solid;
  border-color: darkgray;
  border-width: medium;
  box-sizing: border-box;
  padding: 12px;
  width: 100%;
}

.bannertitle {
  font-size: large;
  font-weight: bold;
}

body {
  height: 100%;
  width: 30rem;
  margin-top: 5%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  border-style: solid;
  border-color: darkgray;
  border-width: medium;
}

.compact {
  margin-top: 0;
}

.detail {
  margin-top: 6px;
}

.detail, h2, h5 {
  margin-bottom: 0;
}

.doomed {
  background-color: pink;
}

.face {
  max-height: 90px;
  max-width: 90px;
}

html {
  padding: 0;
  width: 100vw;
}

.invisible {
  display: none;
}

label {
  display: block;
}

.left {
  display: inline-block;
  vertical-align: top;
  width: 10rem;
}

.minor {
  font-size: x-small;
}

.nav, .offer {
  border-style: solid;
  border-color: gray;
  border-width: 3px;
  border-radius: 9px;
  padding: 3px;
  margin-left: 5%;
  font-size: medium;
  font-weight: normal;
}

normal {
  background-color: default;
}

.offer {
  font-weight: lighter;
}

.offset {
  margin-left: 30px;
}

.right {
  display: inline-block;
  vertical-align: top;
  width: 15rem;
}

.session {
  float: right;
  width: auto;
  height: auto;
  margin-right: 12px;
  white-space: nowrap;
}

.superhead {
  margin-bottom: -10px;
}

.visible {
}

.warning {
  color: red;
  font-weight: bold;
}
